@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&display=swap");

/* body{
    overflow-x: hidden;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open", sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    max-height: 80px;
    position: sticky;
    z-index: 999;
    top: 0;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0 20px;
}

.nutribump_logo {
    height: 30px;
}

.nutribump_ul_container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nutribump_menu_profile li {
    display: none;
}

.nutribump_ul_container ul li {
    padding: 0 20px;
    position: relative;
}

.nutribump_ul_container ul li:hover {
    cursor: pointer;
    color: #f084d4;
}

.nutribump_ul_container ul li::before {
    transition: 400ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: #f084d4;
}

.active {
    color: #f084d4;
}

.nutribump_logo img {
    height: 100%;
}

.nutribump_profile_search {
    display: flex;
    align-items: center;
}

.nutribump_profile_search input {
    display: none;
}

.nutribump_search {
    height: 20px;
    /* overflow: hidden; */
}

.nutribump_search img {
    height: 20px;
    margin: 0 8px;

}

.hamburger-menu-search-container {
    display: none;
}

.ham-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutribump_search {
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
}

.nutribump_search_mobile {
    margin-right: 15px;
}

.nutribump_search_mobile {
    width: 15px;
}

.nutribump_search_mobile img {
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    z-index: 1;
    /* Lower z-index value */
}

.searchpopup_search {
    display: flex;
    align-items: center;
}

.search-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50%;
    z-index: 1000;
    /* Ensure it's above other elements */
    display: none;
    /* Hide it by default */
}

.search-popup input[type="text"] {
    margin: 0 auto;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #f084d4;
    /* Only bottom border */
    outline: none;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
}

.search-popup input[type="text"]::placeholder {
    color: #fff;
    opacity: 0.7;
    font-size: 15px;
}

.search-popup input[type="text"]:focus {
    border-bottom-color: #f084d4;
    /* Change color on focus if needed */
}

.close {
    color: #fff !important;
    font-size: 30px !important;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    /* overflow: hidden; */
}

/* main div container */

.main-container {

    height: 100vh;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_container_elements {
    text-align: center;
    /* Center content inside this div */
}

.logo_container {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
}

.logo_container img {
    width: 100%;
}

.nutribump_main_text-container p {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
}

.explore_btn {
    text-align: center;
    display: inline-flex;
    align-items: center;
    position: relative;
    background-color: #f084d4;
    color: white;
    border: none;
    padding: 15px 25px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.explore_btn::after {
    content: "➜";
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.explore_btn:hover::after {
    opacity: 1;
}

.explore_btn:hover {
    background-color: #f040c1;
    cursor: pointer;
    /* transform: scale(1.05); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    /* navbar */

    .nutribump_ul_container ul {
        display: none;
    }

    .hamburger-menu-search-container {
        display: block;
    }

    .nutribump_profile_search {
        display: none;
    }

    .nutribump_ul_container.show ul {
        display: flex;
    }

    .nutribump_ul_container {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .nutribump_ul_container ul {
        flex-direction: column;
    }

    .nutribump_ul_container ul li {
        padding: 10px;
    }

    .close {
        color: #fff !important;
        font-size: 15px !important;
        border: none;
        cursor: pointer;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nutibump_todays_plan_container {
    height: fit-content;
    margin-top: 25px;
}

.nutibump_todays_plan_item_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.todays_plan_img_container {
    height: 350px;
    width: 350px;
    /* overflow-y: hidden; */
}

.nutibump_key_benefits_container {
    height: fit-content;
    margin-top: 25px;
}

.nutribump_key_benefits_title h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #f040c1;
}

.nutibump_key_benefits_item_container {
    background-color: #ffcff1;
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: space-evenly;
}

.key_benefits_img_container {
    mix-blend-mode: multiply;
    padding: 50px 0;
    width: 250px;
}

.key_benefits_img_container img {
    width: 100%;
}

.todays_plan_img_container img {
    width: 100%;
    transition: 0.3s ease-in;
}

.todays_plan_img_container img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 20px;
}

.nutribump_todayS_plan_title h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #f040c1;
}

.nutribump_about_us_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 15px;
}

.nutribump_about_us_image {
    flex: 0.5;
}

.nutribump_about_us_text {
    width: 350px;
}

.about_us_header {
    color: #6d285e;
    font-size: 35px;
    letter-spacing: 1px;
}


.nutribump_about_us_text p {
    text-align: left;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.nutribump_about_us_image img {
    width: 100%;
    border-radius: 25px;
}

.btn_read_more {
    border: none;
    outline: none;
    padding: 12px 30px;
    color: #fff;
    border-radius: 15px;
    letter-spacing: 1px;
    background-color: #6d285e;
}

.btn_read_more:hover {
    background-color: #f040c1;
    cursor: pointer;
}


.footer_container {
    background-color: #6d285e;
    padding: 30px;
}

.footer_logo {
    width: 150px;
}

.footer_logo img {
    width: 100%;
}

.footeritems h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.footeritems ul li {
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    opacity: 0.5;
    margin-bottom: 8px;
}

.footeritems ul {
    list-style-type: none;
    margin-bottom: 5px;
}

.footer_items {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
}

.footer_socials {
    margin-left: 25px;
}

.button {
    background-color: #e8e4e7;
    border: none;
    color: #6d285e;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
}

.filter_tag {
    text-align: center;
    margin-top: 40px;
}

.filter_tag h1 {
    color: #6d285e;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 1px;
}

.first_pill_section {
    margin-top: 30px;
    margin-bottom: 40px;
}

.recommendation {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #1e0a19 !important;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px !important;
}


.nutribump_edit_plan {
    display: block;
    margin: 10px auto;
    background-color: #6d285e;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nutribump_edit_plan:hover {
    color: #fff;
    background-color: #f040c1;
    cursor: pointer;
}

.meal h1 {
    margin-top: 10px;
    font-size: 40px;
}



/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

 
@media screen and (max-width: 1000px) {
    .main-container {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .main_container_elements {
        text-align: left;
        padding: 20px;
    }

    .logo_container {
        display: none;
    }

    .logo_container img {
        width: 100%;
    }

    .nutribump_main_text-container p {
        font-size: 50px;
        font-weight: 700;
        text-align: left;
        color: #fff;
    }

    .explore_btn {

        display: inline-flex;
        align-items: center;
        position: relative;
        margin-top: 10px;
        background-color: #f084d4;
        color: white;
        border: none;
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 15px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    }

    .explore_btn::after {

        content: "➜";
        margin-left: 5px;
        opacity: 0;
        transition: opacity 0.3s;

    }

    .explore_btn:hover::after {
        opacity: 1;
    }

    .explore_btn:hover {
        background-color: #f040c1;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nutibump_todays_plan_item_container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .nutibump_key_benefits_item_container {
        display: flex;
        flex-direction: column;
    }

    .nutribump_about_us_container {
        display: flex;
        flex-direction: column;
    }

    .nutribump_about_us_text {
        width: 350px;
        padding: 0 15px;
        margin-bottom: 15px;
    }

    .filter_tag h1 {
        font-size: 20px;
    }

}




/* slider  */

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 25px 0;
}

.community h2{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.slider {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.card {
    flex: 0 0 auto;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
}



.card:last-child {
    margin-right: 0;
}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: 6D285E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
